[2015-03-10 10:08] kessler opened #2 "putValue() needs better error when trying to put into a non existent key"

[2015-03-10 10:42] rafipiccolo opened #3 "impossible to create or read a key's default value"
hello, nice code but i can't use it for default values.

every key has a default value in the windows registry
but i can't see it with the list method
nor setting it with puvalue

    regedit.list('HKCR\\Directory\\shell\openShell\\command', console.log);

    // or

    regedit.putValue({
        'HKCR\\Directory\\shell\openShell\\command': {
            'default': { value 'test', type: 'REG_SZ'}

[2015-03-13 15:29] kessler commented on #3
Thanks for reporting this, I'll look into it and get back to you asap...

[2015-03-13 16:00] kessler commented on #3
Already found some references to the problem on the internet:
http://stackoverflow.com/questions/8840343/how-to-read-the-default-value-from-registry-in-vbscript
https://groups.google.com/forum/#!topic/microsoft.public.win32.programmer.wmi/10wMqGWIfms

Working on a fix.

[2015-03-13 16:45] rafipiccolo commented on #3
nice :) i don't understand a thing in win32 api but i'll be glad to test it in my application when you need it

[2015-03-14 07:19] #3 closed

[2015-03-14 07:20] kessler commented on #2
fixed

[2015-03-14 07:20] #2 closed

[2015-03-14 08:57] rafipiccolo commented on #3
thanks ! now it works for me

[2015-03-14 09:20] rafipiccolo opened #4 "making createKey/delete easier ?"
the syntax is a bit repetitive when you want to create a key and add something in it (especially a default value). cound you modify the createKey function to allow a value parameter ?

[code]

Also, when you want to remove a key it fails with acces denied if there are other keys inside.
would it be possible to just remove thoses keys recursively. I don't know how to do it, but maybe with list meth

[2015-03-14 15:56] kessler commented on #4
Excellent suggestions. I will try to implement those in a few days.

[2015-03-14 16:11] kessler opened #5 "refactor readme"
create an arch specific section and move friendly warning + document the various arch commands and their consequences

[2015-04-19 05:08] ShaunMaher opened #6 "REG_EXPAND_SZ not working properly for %USERPROFILE%"
Hi.

Apologies in advance if the problem here is me being a dumbass but, using the .list function to get values of type REG_EXPAND_SZ seems to expand the strings as if they were being expanded for the SYSTEM user.

I'm using your fine module to query values from HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders".  In regedit these values all contain the place holder "%USER

[2015-04-19 10:36] kessler commented on #6
Hi and thanks for reporting this.

I will looking into into shortly.

[2015-04-19 18:51] kessler commented on #6
Hi Shaun

Can you run this little check for me?

In the window where you launch your node application, could you please run this command and reply with the output:
[code]

Thanks

[2015-04-30 16:37] vweevers opened #7 "Is 64-bit nodejs required to access 64-bit software registry?"
Am I correct in assuming you need a 64-bit nodejs binary to access the 64-bit registry? Because when using a 32-bit nodejs binary, I'm guessing `node-regedit` will find the 32-bit version of `cscript` in PATH or else use the hardcoded `c:\windows\system32\cscript.exe`, which will be redirected by Windows to the SysWOW64 folder. And the 32-bit `cscript` can only access the 32-bit (wow64) registry,

[2015-05-03 14:06] vweevers commented on #7
Short answer: no. Bitness of nodejs makes no difference, it will use the 64-bits cscript. Furthermore, the 32-bit cscript can access the 64-bit registry too (reportedly).

[2015-05-03 17:25] kessler commented on #7
Hi @vweevers

You have the arch API for handling 32/64bit access.

If you do:
[code]
You will access the registry based on the architecture of the node process

If you do:
[code]
You will access the registry based on the architecture of the operating system (regardless of the process architecture)

If you do:
[code]
You will access the registry explicitly in 32bit architecture

And finally If you

[2015-05-03 17:25] kessler commented on #6
@ShaunMaher ping :)

[2015-05-03 20:00] vweevers commented on #7
My question only pertained to agnostic mode (running `regedit.list()`), I should have phrased it differently. Let me make sure I understand what's going on. Imagine I'm running 32-bit nodejs on a 64-bit machine. You're saying `regedit.list()` would access the 32-bit (wow64) registry. Is that A) because the 64-bits `cscript` is spawned but it somehow "inherits" the 32-bit environment of its parent

[2015-05-03 21:40] vweevers commented on #7
I've determined it's B (the 32-bit cscript is spawned, because in a 32-bit parent process, `C:\Windows\System32\cscript.exe` is redirected to `C:\Windows\SysWOW64\cscript.exe`). It might also be possible to spawn the 64-bit cscript from a 32-bits nodejs process by using the path `C:\Windows\Sysnative\cscript.exe` - and then access the 64-bit registry without having to use the slower ExecMethod cal

[2015-05-03 22:23] kessler commented on #7
Hey, Thanks for the creds!

I'm fairly interested in this comment you made about speed here:
https://github.com/vweevers/win-detect-browsers/blob/master/lib/reg-stream/index.js#L14

Did you test this? how significant is the improvement? do you know why is it faster?

[2015-05-03 22:42] vweevers commented on #7
I can't give you any hard numbers, but it was significant enough for me to notice. There must be some overhead in the ExecMethod calls, and because `win-detect-browsers` queries a lot of keys, it quickly adds up. I'll do a rough benchmark later, and get back to you.

[2015-05-03 22:44] kessler commented on #7
Excellent! looking forward, thanks!

[2015-05-04 13:48] vweevers commented on #7
Checkout [cscript-registry-benchmark](https://github.com/vweevers/cscript-registry-benchmark) and [its output](https://ci.appveyor.com/project/vweevers/cscript-registry-benchmark/build/1.0.3).

Calling `registry.GetStringValue` directly (eg, agnostic mode) is roughly 2x as fast as `registry.ExecMethod_("GetStringValue", ..)` with a "__ProviderArchitecture" flag.

The relevant bit of the output is

[2015-05-04 17:50] kessler commented on #7
This is awesome! Thanks a lot.

I will check if there are additional ways to optimize ExecMethod()

Will update here

[2015-05-12 20:43] kessler commented on #6
Closing this issue for now.

[2015-05-12 20:43] #6 closed

[2015-05-17 21:31] CharlieHess opened #8 "putValue with empty string for value fails silently"
An empty string is a valid value for [lots of things](https://msdn.microsoft.com/en-us/library/aa767914(v=vs.85).aspx), but when I attempt to set it using `putValue`, it fails silently.
[code]

[2015-05-22 10:54] kessler opened #9 "performance when using ExecMethod vbscript api"
Copied directly from #7 :

See [cscript-registry-benchmark](https://github.com/vweevers/cscript-registry-benchmark) and [its output](https://ci.appveyor.com/project/vweevers/cscript-registry-benchmark/build/1.0.3).

Calling `registry.GetStringValue` directly (eg, agnostic mode) is roughly 2x as fast as `registry.ExecMethod_("GetStringValue", ..)` with a "__ProviderArchitecture" flag / context.

Th

[2015-05-22 10:54] #7 closed

[2015-05-22 11:29] #8 closed

[2015-05-22 11:30] kessler commented on #8
@CharlieHess 2.2.5 should fix this problem. Do let me know if it doesn't.

[2015-06-30 10:46] fithwith opened #10 "array of keys empty after calling createKey"
after calling
var keys=[....];
regedit.createKey(keys, function(err) {...});

the array keys is empty, why did the createKey function empty the array?

[2015-07-05 00:26] kessler commented on #10
At some point the code empties the array when its being fed it to the stream. While its against normal best practices (such as defensive programming and such) I opted not to copy the array immediately since at times we are talking about very long arrays.

In this particular we rely on the client (i.e you) to use defensive programming.

Will update the documentation about this.

[2015-07-05 06:54] fithwith commented on #10
ok, for my case I want to keep the keys after the creation so I cloned the array before.

Thank you for your explanation.

[2015-07-05 10:25] #10 closed

[2015-07-25 14:39] alexcroox opened #11 "unsupported hive error on putValue()"
So I have the following in an attempt to allow Windows 8 to auto start a nodewebkit app that has to run in sysadmin mode (not without asking the user first and warning them of the risks of course...)

[code]

And the putValue() errors out with `code: 25122 message: "unsupported hive"`

I know the path is correct because it correctly reads the value of it before it tries to modify it.

[2015-07-25 14:44] alexcroox commented on #11
Ah my fault, putValue has to have a string for the path (even though `keyPath` is a string).
[code]

worked for me

[2015-07-25 14:44] #11 closed

[2015-11-05 21:38] mh61503891 opened #12 "regedit.list() throws SyntaxError when data includes tab (s)"
For example, "Adobe Acrobat Reader DC - Japanese" writes following entry to registry when installing:

- ValueName = Comments
- Type = REG_SZ
- Data = \n\t\t\t\n

This entry has a data including new lines and tabs, and the regedit.list() throws SyntaxError when reading above entry as follow:

[code]

Probably, this SyntaxError occurred if data includes tab (s). To check this, I have inputed a tab

[2015-11-05 22:49] mh61503891 commented on #12
https://github.com/ironSource/node-regedit/blob/45514bed635114891589abc2c554458417c3b8fc/lib/helper.js#L51

[code]
When `chunk` including `\t`, the `\t` must be escaped with `\` according to RFC4627 JSON https://www.ietf.org/rfc/rfc4627.txt, page 4.

Check:

[code]

[2015-11-05 23:23] mh61503891 commented on #12
https://github.com/ironSource/node-regedit/blob/45514bed635114891589abc2c554458417c3b8fc/vbs/util.vbs#L117

Additional replacement processes to escape extended characters (e.g., tab, backspace, etc.) are needed in Function JsonSafe.

The replacement rule are written in RFC 4627 Section "2.5. Strings" https://www.ietf.org/rfc/rfc4627.txt, page 4.

[2015-11-09 01:27] kessler commented on #12
Hi @mh61503891

Would you be so kind as to post a small code snippet that replicates this problem so we can work on it?

Thanks

Yaniv

[2015-11-29 06:28] debussy2k opened #13 "support for asar packaged environment in Electron"
When I use node-regedit functions in Atom Electron that packaged with asar, node-regedit functions failed. Beacuse wsf files packaged in asar file don't exist in normal file system, calling wscript with wsf file fails.
If wfs files were copied in temporary folder in this case and called with that, it would be a solution.
I will appreciate if you support  asar situation in Electron.
Thanks!

[2015-12-06 19:41] kessler commented on #12
@mh61503891 bump

[2015-12-06 19:43] kessler commented on #13
Hi @debussy2k ,

In order to help you I would ask that you create a small repository that replicates the problem.

Perhaps something with a gulp script that fires a sample electron app packaged with asar?

Thanks

Yaniv

[2015-12-11 02:09] debussy2k commented on #13
I think it is fixed in Electron v0.35.3. (https://github.com/atom/electron/releases)
Please see "Fix child_process.execFile not working for files in asar archive."

And you can also find details of Electron issue#3512.  https://github.com/atom/electron/issues/3512
Thanks!

[2015-12-12 00:29] kessler commented on #13
Excellent, can you confirm so we can close this issue?

[2015-12-14 05:58] #13 closed

[2016-01-08 01:10] arieljannai opened #14 "add mocha as a dev dependency in package.json"
Hi,

as the title says - you're missing a dependency in `package.json` - `mocha` is missing in devDependencies

[2016-01-10 12:11] kessler commented on #12
No response from submitting party, closing this issue for now

[2016-01-10 12:11] #12 closed

[2016-01-10 12:22] #14 closed

[2016-01-10 13:50] arieljannai opened #15 "Test fails because the string is not in the correct case"
At least on my computer, [this test](https://github.com/ironSource/node-regedit/blob/master/test/regedit.test.js#L98) failed because the key in my registry is in uppercase - `SOFTWARE` and not `Software`

I think it will be fine to make the check case insensitive, cause either way windows doesn't care the case of the registry key - it could also be `SoFTwarE`.

[2016-01-10 13:51] kessler commented on #15
Thanks. Will update this soon

[2016-03-13 15:31] vweevers opened #16 "Error niceties"
Hiya Kessler.

FIY, I took the error codes you had here and made [wmi-errors](https://github.com/vweevers/wmi-errors). You might consider using it for `node-regedit` too, because you get a call-stack captured at the time you create the error, a simple hierarchy for `instanceof` checks, and some useful properties.

[2016-04-01 02:32] musocrat commented on #13
@debussy2k How did you end up implementing this? I've tried keeping `node_modules\regedit` unpacked, but still get the same error unless I don't pack as asar.

[2016-04-01 14:40] musocrat commented on #13
Ok, got it worked out. in case anyone else stumbles across this here's what I went with. basically, you need to explicitly point to the unpacked module dir. Somehow I thought asar may do some magic on that one, but I was mistaken.

[code]

[2016-04-01 14:52] kessler commented on #13
Thanks for sharing the solution.

[2016-05-02 15:23] eneurons commented on #16
Sounds great lets do it :-)

[2016-05-02 15:59] kessler commented on #16
Vincent, I have you permissions on the repo, can you integrate the new module?

[2016-06-21 09:47] kessler commented on #16
bump :)

[2016-06-21 09:55] vweevers commented on #16
First I must say: I made this for `win-detect-browsers`, which I was working on back then, but haven't finished that work, so `wmi-errors` hasn't seen any real usage yet. And atm I can't remember if I was happy with its API yet

[2016-06-21 13:48] kessler commented on #16
Alrighty, shall I close the issue in the meanwhile?

[2016-06-21 14:46] vweevers commented on #16
Sure. I'll let you know

[2016-06-21 17:48] #16 closed

[2016-08-05 10:41] vincent1173 opened #17 "Streaming Function is redundant, when there is no registry key found."
Hi,
I'm trying to find whether the registry key exists using regedit.

[code]

But, the control doesn't fall to finish , when no suck key is found. Instead, it prints 'error' twice.

[2016-08-09 09:13] kessler commented on #17
@vincentdass is the problem resolved?

[2016-08-16 15:17] aiflow opened #18 "TypeError inside Regedit!"
Hi,

I am getting `TypeError: Cannot read property 'toUpperCase' of undefined` when all I am passing to putValue is the same object I retrieved from list.
The path is `at renderValueByType (C:\...\node_modules\regedit\index.js:283:13)`
Is this related to #15?

Thank You!

[2016-08-16 15:28] aiflow commented on #18
Never mind ... Needed to go more specific ... can't just put the whole object.

[2016-08-16 15:28] #18 closed

[2016-09-20 06:11] Ajay-MS opened #19 "Blocking xplat node solution due to regedit package"
Hello team,

We build an xplat solution in which we are using regedit as package. At runtime we are using regedit only for windows platform but it is since during build time on linux platform, regedit pacakge is throwing error as **Not compatible with your operating system or architecture: regedit@2.2.6**
Because in node-regedit [package.json](https://github.com/ironSource/node-regedit/blob/master

[2016-11-25 02:15] WinterWoods opened #20 "How to delete value?"
How to delete value?thx

[2016-11-25 02:18] longang520 commented on #20
@kessler

[2016-11-26 03:28] kessler commented on #20
To delete the whole key:
https://github.com/ironSource/node-regedit#regeditdeletekeystringarray-function

To "clear" a value use putValue with zero length string or something else that is the equivalent of null / zero for that particular key type

[2017-01-19 03:14] LyHo86 commented on #13
@doesdev has just saved my life.  Thanks!

[2017-03-18 08:51] zariweyo opened #21 "Error with large numbers in REG_DWORD and REG_QWORD"
To solve this, please, in file regUtil.vbs replace CInt to CLng. (lines 37 and 43).

Thanks

[2017-04-05 20:21] mantasmarcinkus commented on #11
For clarification if anyone gets this error it is because you tried to set key of a JSON object with a variable
[code]
which would generate JSON object:
[code]
if you want to have your registry key to get value for registry key from a config of some sort, do this (ES6):
[code]

[2017-04-15 10:15] kessler commented on #20
@longang520 is this issue resolved?

[2017-04-15 10:17] kessler commented on #21
@zariweyo could you please provide some code that will help me recreate the problem? thanks

[2017-04-18 04:03] orancezii opened #22 "Cannot open regedit folder name with special character"
I try

    regedit.list([
    "HKLM\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\nbi-nb-base-8.0.2.0.201411181905"]).on('data', function (entry) {
    console.log(entry);
})

It's not work. It cannot open that path,

I think because folder name "nbi-nb-base-8.0.2.0.201411181905" has special character.

I try to add bracket , quote,

**example** : {folder_name} or "folder_name" or "{fo

[2017-05-02 07:03] orancezii commented on #22
Please help

[2017-05-22 11:27] juanjo75es commented on #21
I updated the code like zariweyo said but still doesn't work if I use createKey and a number is large.

[2017-05-22 11:29] juanjo75es commented on #21
Code that fails (the problem is in the Attributes value):

                                                  regedit.createKey([s3], function(err) {

                                                          let valuesToPut = {};
                                                          valuesToPut[s3] = {
                                                            'FolderValueFlags': {

[2017-05-22 23:20] kessler commented on #21
@juanjo75es currently very busy... so it will take time to get to this. However, if you run into a solution in the meanwhile, please don't hesitate to send a PR

[2017-05-24 23:39] kessler commented on #22
@orancezii sorry for the delayed response. Currently very busy. Will make for this in the close weekend

[2017-05-24 23:39] #20 closed

[2017-05-24 23:40] kessler commented on #19
@Ajay-MS is this still relevant? if so let me know.

[2017-05-24 23:41] kessler commented on #17
@vincentdass could you send a PR or share the code here?

[2017-05-25 05:31] #19 closed

[2017-05-25 10:50] Chinalijian opened #23 "“Cannot find module ‘regedit’ ”"
Generated after the installation package, running software, prompt “Cannot find module ‘regedit’ ”，but the debug mode is no problem

[2017-05-25 14:28] kessler commented on #23
Hi, it is very hard to understand you problem based on this description. Can you please provide more details and / or some way to recreate your problem?

[2017-05-26 02:46] Chinalijian opened #24 "Cannot find module 'regedit'"
Hi,
I'm trying to get registry information
`    var regedit = require('regedit')
    regedit.list('HKCU\\SOFTWARE\\BI\\EcgLab', function(err, result) {
        console.log('result:' + JSON.stringify(result['HKCU\\SOFTWARE\\BI\\EcgLab']))
        if (err != null) {
            console.log('exec error:' + err)
        }
    })`

but , run the installation package, The pop-up error message:
![error](

[2017-05-26 21:54] nhz-io commented on #21
`CLng` overflows at `0x80000000`. Need to use `CDb` for writing and `Long to ULong` correction workaround

[2017-05-27 01:03] nhz-io commented on #21
## REG_QWORD
* No conversion needed - `SetQWORDValue` accepts a `String`
* **writing** is limited to values below `9007199254740993` [Precision](http://www.rlmueller.net/Precision.htm)
* **reading** is unaffected by precision limit

**I dont see a way to overcome the precision limit on writing** :cry:

[2017-05-27 01:43] nhz-io commented on #22
## Cannot reproduce

There is nothing special about `nbi-nb-base-8.0.2.0.201411181905`
The test passes. See commit: 79cc6e5

[2017-05-27 02:37] nhz-io commented on #24
Please provide more info about your environment. What is this screenshot?

[2017-05-27 13:40] kessler commented on #23
#duplicate of #24

[2017-05-27 13:40] #23 closed

[2017-05-27 13:40] kessler commented on #24
@Chinalijian can you attach your NPM install output?

[2017-05-29 17:40] odeer95 opened #26 ""describe is not defined""
Hi to all,
I'm trying to launch **regedit.test.js**, but I think there's something that I'm doing in a wrong way...

P.s. Please don't be bad, I'm new to node.js :(

![image](https://cloud.githubusercontent.com/assets/29045734/26558342/2f9ebd4e-44a8-11e7-909f-1e1ecbc28be1.png)

[2017-05-29 18:45] nhz-io commented on #26
@odeer95 Just do:
[code]

[2017-05-29 18:58] odeer95 commented on #26
![image](https://cloud.githubusercontent.com/assets/29045734/26559682/6d4e7414-44b1-11e7-8b4f-ea869edc65ca.png)

[2017-05-29 19:22] nhz-io commented on #26
@odeer95:
[code]
**RTFM** https://docs.npmjs.com/

[2017-05-29 21:23] #26 closed

[2017-05-29 23:51] nhz-io commented on #21
Fixed by #25

[2017-05-29 23:51] #21 closed

[2017-05-30 00:00] #22 closed

[2017-05-30 00:03] nhz-io opened #27 "Revamp Infra"
# Project infra revamp

- [x] #28 add appveyor.yml
- [ ] #29 configure [appveyor](https://ci.appveyor.com/project/ironSource/node-regedit) (project and tokens)
- [x] #30 add linter
- [x] #31 add pre-push hooks

[2017-05-30 00:11] nhz-io commented on #27
# Project infra revamp

Need to:
* add appveyor.yml
* configure appveyor (project and tokens)
* add linter
* add pre-push hooks

[2017-05-30 00:12] nhz-io opened #28 "add appveyor.yml"

[2017-05-30 00:13] nhz-io opened #29 "configure appveyor (project and tokens)"
# Configure appveyor

- [x] Create a project on [appveyor](https://ci.appveyor.com/project/kessler/node-regedit) for **node-regedit** repo
- [ ] Add environment variable `NPM_TOKEN` set to token with permission to publish

[2017-05-30 00:14] nhz-io opened #30 "add linter"
# Adding Eslint

- [x] Add **eslint**
- [x] Fix lint issues

[2017-05-30 00:14] nhz-io opened #31 "add pre-push hooks"

[2017-05-30 00:19] nhz-io commented on #29
# Configure appveyor

- [ ] Create a project on appveyor.com for **node-regedit** repo
- [ ] Add environment variable `NPM_TOKEN` set to token with permission to publish

[2017-05-30 01:53] nhz-io commented on #28
The build is running (and failing) from my fork: https://ci.appveyor.com/project/nhz-io/node-regedit

[2017-05-30 01:57] #28 closed

[2017-05-30 16:48] #30 closed

[2017-05-30 17:00] #31 closed

[2017-05-30 17:24] nhz-io opened #36 "Tests fail as the result of case-sensitive key matching"
# Tests on my local vm (WIN10 x64)

The test is looking for `Software` key and its there, just full caps `SOFTWARE`
As the keys in registry are **case-insensitive** imho we should ignore case in tests

[code]

[2017-05-30 17:41] nhz-io commented on #36
# Tests on Appveyor

Similar cases happen on Appveyor (Probably because of different Windows version)

[code]

[2017-05-30 18:02] #36 closed

[2017-05-30 18:06] nhz-io commented on #15
Duplicate of #36

[2017-05-30 18:06] #15 closed

[2017-05-30 18:11] #27 closed

[2017-05-31 15:52] juanjo75es commented on #21
@kessler Well ... I solved my problem using:

[code]
But I guess it won't help you.

[2017-05-31 21:05] kessler commented on #21
@juanjo75es thanks for sharing the solution :)

[2017-05-31 21:33] nhz-io opened #38 "Install zenhub"
- [ ]  @kessler install this integration for yourself: https://github.com/marketplace/zenhub

[2017-06-07 08:22] CherryDT opened #39 "Writing REG_DWORD values with more than 16 bits is broken"
Trying to set a `REG_DWORD` with a value of e.g. `1000000` causes an error `vbscript process reported unknown error code 1`.

This is caused by a runtime error in VBScript due to an overflow when calling `CInt` (note that VBScript's `Integer` is a signed 16-bit type). I guess what you actually wanted is `CLng` (VBScript's `Long` is a signed 32-bit type).

[2017-06-07 09:00] nhz-io commented on #39
@CherryDT Could you try cloning repo and running tests?
You can also try installing the package directly from github:
[code]
This issue looks related to #21 which will be fixed when we publish `v2.2.7`

[2017-06-07 09:06] CherryDT commented on #39
You are right, it's a duplicate, I didn't look at closed issues.

[2017-06-07 10:10] kessler commented on #39
@CherryDT  published 2.2.7

[2017-06-07 10:27] #39 closed

[2017-06-07 15:02] CherryDT opened #40 "REG_EXPAND_SZ values are expanded in SYSTEM user's context"
I found an issue which is unfortunately not easy to fix (research told me that with WMI it is actually _impossible_ to fix). I still want to point it out. It is actually a duplicate of #6 but that issue was closed due to inactivity without further analysis.

When reading a `REG_EXPAND_SZ` value, I would expect it to be expanded with the current process' environment variables. For example, when rea

[2017-06-07 15:23] CherryDT commented on #24
@nhz-io This appears to be an exception message from Electron

[2017-06-07 15:37] nhz-io commented on #24
@CherryDT AHA! Thanks for deduction. I will have to setup mock electron project to test it. Though I suspect someone forgot to `npm i`

[2017-06-07 15:45] nhz-io commented on #40
@CherryDT TYVM for the investigation. I will go deeper on this during the upcoming weekend

[2017-06-08 10:37] kessler commented on #24
@CherryDT you should take a look at this: #13
In the meanwhile I'm closing this issue, it's not a problem or a bug in `regedit`

[2017-06-08 10:37] #24 closed

[2017-06-08 10:39] CherryDT commented on #24
I just pointed out that the screenshot may come from Electron, I don't use it there ;)
@Chinalijian you should take a look at this: #13

[2017-06-08 10:43] kessler commented on #24
@CherryDT sorry ;-)

[2017-06-19 00:07] bryandesigning commented on #13
Update for those that are still running into this problem and don't want to use the above hack, use this.

https://github.com/epsitec-sa/hazardous
Simply use is like this

[code]

[2017-08-02 10:49] maisnamraju opened #41 "Cannot package into electron app."
I tried using the package on an electron application and thought it works find on development, it doesn't work in the bundled version. Posting a screenshot

![screen shot 2017-08-02 at 4 13 01 pm](https://user-images.githubusercontent.com/2786378/28870535-428c06cc-779e-11e7-8b0a-7cc64ffe9c5b.png)

[2017-08-19 23:36] Pomax opened #42 "Critical error?"
I'm hitting a ton of things like
[code]
without a way to apparently either suppress those errors, or actually do anything about them (because the error in no way explains what went wrong, and what I need to change as a dev to not run into this)

[2017-08-20 02:19] Pomax opened #43 "Exceedingly slow execution?"
I'm using `regedit` to look up the x86 and x64 uninstall lists (writing a software manager that needs to know if certain things are installed already) and so I use the following code:

[code]
This then continues in the `processKeys` function:
[code]
Which yields the *actual* data I care about, and hands that off for a final process pass before returning:
[code]
On my system, this finds 690 entries

[2017-08-23 07:46] anaszgh opened #44 "PutValue is note working"
I'm trying to put a value into an existing key to enable automatic windows login but it is not working, and not throwing an error in the callback either.
Here is the code:
`var valuesToPut =`
`                            {`
`                                'HKLM\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Winlogon': {`
`                                    'AutoAdminLogon': {`
`

[2017-08-24 14:15] kiuKisas opened #45 "npm install on OS X ?"
Hi, I'm wrinting an multi-platform app and the windows version use node-regedit. I want to have the same source for both, windows and OS X, but when I try an `npm install --verbose` with node-regedit dependencies, I have this log:

[code]

Can I fix it and keep the same source code for both platform or should I create two differents projects ?
Thank's in advance !

[2017-08-24 14:17] kiuKisas commented on #41
which packager do you use ? Work fine with `electron-builder`

[2017-08-30 15:34] muminasaad opened #46 "It is not working when app packaged with asar true in electron"
If added to electron application then packaged with asar true, the module will stop working, and will return this error:
Command failed: cscript.exe //Nologo

[2017-09-11 12:10] muminasaad commented on #41
Dear the problem is that the path to the wsf file is inside the app.asar file,
You have to options, either you disable asar packaging, or you edit the baseCommand function to change to an external path that will contain the vbs folder

[2017-09-14 20:51] kessler commented on #45
I'm not sure I want to allow installing this package on any system which is not windows, since it will simply not work.

However, I also understand the problem of wanting to have the same source code.

I'm willing to remove the restriction but in order to do that I need:
1. A runtime check that will alert the user in case their program is running on a non compatible operating system
2. Is there a

[2017-09-14 20:53] kessler commented on #44
Can you please also attach the error?

[2017-09-14 20:54] kessler commented on #42
@Pomax is it possible for you to submit some piece of code so I can recreate this?

[2017-09-15 13:58] kiuKisas commented on #45
I find a way, I just set `regedit` as an optional dependencies and added some if statement to only load my code on windows.
As you said, I'm not sure is a good idea to allow installing on any system, better this way.
Tahnk's for your answer !

[2017-09-15 21:14] Pomax commented on #42
I no longer have any reproducing code per se, but https://github.com/ironSource/node-regedit/issues/43 was a rewrite of the code to prevent running into these errors. Rewriting that to synchronous rather than callback code should show millions of these errors again.

[2017-09-22 17:51] anaszgh commented on #44
there is no logged error, sorry for the late reply, it acts like everything is fine, but the actual value in the registry doesn't change.1

[2017-10-08 09:07] anaszgh opened #48 "If you pass undefined as value, it fails and the call back never gets called"
`tValuesToPut[keyLocation].DefaultUserName = {
          value: username,
          type: 'REG_SZ'
};`

`regedit.putValue(tValuesToPut, archConstant, function (err) {
          callback(err);
 });`

in here the username was passed undefined, the put value function hanged and never returned to the call back.

after investigating the issue deeper, it appeared that when executing the csscript.exe to

[2017-10-08 09:10] anaszgh opened #49 "Altering HKLM hive values is not working if not administrator"
its a known thing that for modifying any key's value under HKLM you need a privileged user (Administrator), when trying to put a value which is under HKLM hive, the change will not be saved on the registry, yet the code will complete the process without any errors indicating that the operation succeeded.

Also note that the test defined in the project's source doesn't check the lack of permission

[2017-10-12 07:58] HekMe opened #50 "Using Electron - Not working when packed in ASAR"
Ahoy,

I'm using this from within electron which is working while not in asar.
When i pack it in asar it returns error "Input Error: Can not find script file 'path-to-folder\resources\app.asar\node_modules\regedit\vbs\regList.wsf'".
Also when pack everything else, except this, it returns the same error.
It looks like that while it's unpacked it still looks for files in the asar archive.

Thanks

[2017-12-01 02:27] #45 closed

[2017-12-01 02:28] #42 closed

[2017-12-07 18:16] Halo4356 commented on #50
I am going to fork the repository and add in a fix for this exact situation.

The culprit is at line 340 of `index.js`:

[code]

This error is fixed using:

[code]

I'm not sure if it is safe to merge into upstream but I'd be willing to submit a pull request if deemed necessary.

[2017-12-24 10:09] ShijiSun opened #52 "command failed when app packaged with asar true in electron"
Command failed: cscript.exe //Nologo C:\Program Files\anna\resources\app.asar\main\lib
etwork\win32\node\vbs\regList.wsf A HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Connections

Error: Command failed:
cscript.exe //Nologo C:\Program Files\anna\resources\app.asar\main\lib\network\win32\node\vbs\regList.wsf A HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Con

[2018-01-27 21:51] greabock commented on #40
ping

[2018-01-27 21:52] greabock commented on #40
@nhz-io ping

[2018-02-13 14:36] muminasaad commented on #52
Check Pull Request to fix this issue  #47

[2018-02-28 15:36] hektor157 commented on #50
Thanks for answer.
Is it working at the moment? :)
I haven't noticed your reply, sorry.

[2018-02-28 15:57] Halo4356 commented on #50
With my change, yeah node-regedit works fine, unpacked from the ASAR.

here is the commit:

https://github.com/Halo4356/node-regedit/commit/252bf1bceb891249949e264108f94c68a356713a

[2018-03-31 22:33] kessler commented on #52
fixed in e41c9a88af6c5addb5bf08995f74482774084ae5

[2018-03-31 22:33] #52 closed

[2018-03-31 22:34] kessler commented on #50
@muminasaas PR should solve this:  e41c9a88af6c5addb5bf08995f74482774084ae5

[2018-03-31 22:34] #50 closed

[2018-03-31 22:36] kessler commented on #46
fixed at  e41c9a88af6c5addb5bf08995f74482774084ae5

[2018-03-31 22:36] #46 closed

[2018-03-31 22:36] kessler commented on #41
fixed at  e41c9a88af6c5addb5bf08995f74482774084ae5

[2018-03-31 22:36] #41 closed

[2018-04-30 14:13] kessler commented on #49
@anaszgh Thanks for the input! It will be really great if you can submit a PR to correct this, or even some sketch code.

[2018-04-30 14:14] kessler commented on #44
@anaszgh is this related to #49 ?

[2018-05-10 11:17] als9xd opened #53 "RegList outputing key to console."
I ended up removing the "Write" lines within `vbs/regList.wf` and that appears to have fixed it. Is this by design?

Here is the code I'm using:

[code]

[2018-05-12 19:28] FireController1847 opened #55 "Promise support?"
Is it possible to get support for promises instead of using callbacks to prevent [callback hell](http://callbackhell.com/)?

[Rage Edit](https://www.npmjs.com/package/rage-edit) already has this implementation, so it may be time to catch up.

[2018-05-15 15:24] afroewis opened #56 "Docs: Explain how to use in Electron"
When I used this package, it worked when running my electron app during development, but not in the packaged application. By searching this repo's issues, I found https://github.com/ironSource/node-regedit/issues/46.

As the README doesn't say anything about `setExternalVBSLocation`, I think it would be useful to save pain for new users that want to use this package in their Electron app. As there

[2018-05-29 09:05] Taxel commented on #56
@muminasaad could you provide a pull request with exact details how to use it? I am getting "Folder not found" when using the method, even though I copied the vbs folder to ./assets/ and am calling `regedit.setExternalVBSLocation("./assets/vbs/")`

[2018-05-29 09:19] afroewis commented on #56
@Taxel I'm not sure using a relative path will work in most cases. Probably it's safer to use an absolute path?

This is how I do it in my electron app:

[code]

Note that I move the node-regedit assets to the `resources/foo` folder using electron-builder when building my application.

[2018-06-10 12:51] kessler commented on #55
@FireController1847 I strongly suggest that next time you ask someone to do something for you with their free time, you should tone down on the condescending statements.

As for your statement regarding, callback hell, I suggest this read: http://thecodebarbarian.com/2015/03/20/callback-hell-is-a-myth

[2018-06-10 15:37] nhz-io commented on #55
@FireController1847 https://nodejs.org/docs/latest-v8.x/api/util.html#util_util_promisify_original

[2018-06-10 16:11] kessler opened #58 "refresh infra"

[2018-06-10 16:31] kessler commented on #53
@als9xd running this code on a brand new windows 10 machine did not produce any kind of unexpected output:

![image](https://user-images.githubusercontent.com/147367/41203798-bce0ad60-6ce4-11e8-94ec-120e5a8b483b.png)

The vbscript and node communicate via stdout, this is why the vbscript writes the result to it.

[2018-06-10 16:31] #53 closed

[2018-06-10 18:31] FireController1847 commented on #55
Condescending statements?

[2018-06-11 11:36] nhz-io commented on #55
@FireController1847 ` , so it may be time to catch up.` &larr; this

[2018-06-12 10:40] #55 closed

[2018-06-12 10:42] kessler opened #59 "add promise support"

[2018-06-12 10:45] kessler commented on #56
@afroewis merged, thank you for the PR

[2018-06-12 10:45] #56 closed

[2018-09-06 06:57] jrsarath opened #60 "Issue while using from .asar package"
Hi there,
im developing a Electron app,
and facing this issue :
Condition : packaged app with asar - error thrown = Input Error: Can not find script file APPD_DIR\resources\app.asar\node_modules\regedit\vbs\regList.wsf

#APP_DIR represents current project folder

[2018-09-12 02:27] tao8888821 commented on #60
package.json package:win add  --ignore=node_modules/regedit/vbs   --extraResource=node_modules/regedit

script add function like this:

let regedit =  require('regedit')
regedit.setExternalVBSLocation('resources/regedit/vbs');

[2018-10-21 13:41] JasminDreasond opened #61 "deleteValue"
I'm trying to create the function to delete a value from a key. But exist a problem :c
`vbscript process reported unknown error code 1`

This script inside the regUtil.vbs not working.  (I created the function)

[code]

The variables  "constHive", "strSubKey", "strValueName" is working. The problem is the DeleteValue() only.

The commit:
https://github.com/JasminDreasond/node-regedit/commit/2075af

[2018-11-17 21:56] #5 closed

[2018-11-21 06:44] hl-a-k opened #62 "unsupported hive error while read chrome.exe"
I need know path of chrome.exe, here is my code:
`var regedit = require('regedit')

regedit.list('HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\App Paths\\chrome.exe', function(err, result) {
  if (err) {
    return
  }
  console.log(result)
})`

And I get
`{"HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\App Paths\\chrome.exe":
unsupported hive HKEY_LOCAL_MA

[2018-11-23 16:29] #38 closed

[2018-12-02 02:43] PeterChen1997 opened #63 "Error: access is denied"
Hi bro, i can't use createKey and putValue in terminal, it tells me access is denied .. how can i fix it ?
![image](https://user-images.githubusercontent.com/21072589/49335003-039f7100-f61f-11e8-9537-61870b99cab5.png)
![image](https://user-images.githubusercontent.com/21072589/49335006-0c904280-f61f-11e8-9de5-791833256bdd.png)

[2018-12-02 02:47] PeterChen1997 commented on #63
I run win10 in parallel desktop on macOS

[2018-12-22 09:46] hubei207 commented on #62
I also encountered this problem, I don't know how to solve it.

[2019-01-18 08:21] Sun-Traget opened #64 "Hey, what do I need to do in nw.js"
![image](https://user-images.githubusercontent.com/19965020/51374183-23daaf00-1b3d-11e9-9a19-33b656628e4d.png)

[2019-01-18 08:43] #64 closed

[2019-01-18 08:44] Sun-Traget opened #65 "Error: access is denied"
![image](https://user-images.githubusercontent.com/19965020/51375178-24287980-1b40-11e9-969f-787d403b1e96.png)

[2019-01-18 16:54] deliverymanager opened #66 "Error in Node 5.12.0 that I must use it."
When doing:
var regedit = require('regedit');

I get:
SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

[2019-02-22 21:51] bradisbell commented on #62
Instead of `HKEY_LOCAL_MACHINE`, use `HKLM`.

[2019-03-02 19:00] Connum commented on #61
Any progress on this? I need to delete a value as well, but this functionality is still listed as "TODO".

[2019-06-21 17:48] pieczorx commented on #66
Search for "babel"

[2019-07-11 06:20] jeremysu0131 commented on #60
First, set the following code in `package.json` in `build`
[code]
Second, set the following code where you use `regedit`
[code]

[2019-07-29 13:43] kessler commented on #66
@deliverymanager can i close this issue?

[2019-07-29 13:46] kessler commented on #65
@Sun-Traget hi, this doesn't seem like a bug in `regedit` but rather a process permission issue, please provide more details and I'll try to assist you as much as I can. Closing this for now, please feel free to reopen...

[2019-07-29 13:46] #65 closed

[2019-08-23 17:50] ghost opened #68 "Create folder/path if it doesn't exist"
`Error: registry path does not exist`

Got this error when I tried to put key value on .`.\\Policies\\System`, because Policies folder is empty. Is there a way to check if the folder/path existed and if no, create it?

[2019-09-09 21:07] #4 closed

[2019-09-12 00:41] LOHT03 commented on #61
I don't think that the `DeleteValue` function has been created. Is there a status update on when this feature will be introduced?

[2019-09-12 01:47] LOHT03 opened #69 "Typings"
Is there a `type` declaration file that is in the works or available so that this project can be used with TypeScript?

[2019-09-17 20:06] KuoKongQingYun opened #70 "Can not work with pkg."
If I use pkg(https://github.com/zeit/pkg) to pack my project,
this module can't work,and it shows:
[code]

Is there any way to fix it?

[2019-09-26 10:02] sheinin opened #71 "Access is denied"
When running packaged app the following error results:

`Error: access is denied
    at Object.<anonymous> (C:\Users\ServoyPC\AppData\Local\BizmanualzOnPolicy\app-1.0.0\resources\app.asar\node_modules\regedit\errors.js:29:13)
    at Object.<anonymous> (C:\Users\ServoyPC\AppData\Local\BizmanualzOnPolicy\app-1.0.0\resources\app.asar\node_modules\regedit\errors.js:553:3)
    at Module._compile (modul

[2019-10-17 10:51] pd4d10 opened #72 "Specify max buffer of execFile"
If the stdout exceeds the default max buffer size(1024 * 1024), it would throw an error:

[code]

Reference: https://nodejs.org/api/child_process.html#child_process_maxbuffer_and_unicode

Seems it is necessary to add an option to specify it.

[2019-10-18 15:30] rewasa commented on #71
I've the same Problem. I need elevated privilege to do my entry. With this component I could do this:
https://www.npmjs.com/package/sudo-prompt

Like so:

`const options = {
    name: "Test"
  };
  sudo.exec(
    "reg add HKCU\\Software\\Policies\\Microsoft\\Windows\\WindowsUpdate\\AU /v NoAUShutdownOption /t REG_DWORD /d 0x00000001",
    options,
    (error:any) => {
      error && console.log(er

[2019-10-30 15:48] #29 closed

[2019-10-31 23:14] sheinin commented on #71
Found a solution with "windows-elevate".

[2019-11-02 04:16] LOHT03 commented on #70
Have you tried setting an external VBS location in the package? Refer to #60 for more information (It's for ASAR but it may work for your app as well, take a look and see if it works). The readme also has information on how to use that.

[2019-12-12 10:46] nikhell86 opened #74 "module not working when electron app launched at windows startup"
We are using npm-regedit module to read/write registry in Windows. We are using it in an electron app. Normally when we run the application it works fine but when we set the app to run automatically at startup the regedit module fails when app starts at startup. We get the following error on reading "HKCU/SOFTWARE":
Error: Command failed: cscript.exe //Nologo D:\CodeLathe\Workspace\cl-fc-client\cl

[2020-01-09 22:49] tytech3 commented on #74
Strange, my app did this as well, but it didn't stop when opening it manually. Did you perhaps miss this?:

https://www.npmjs.com/package/regedit#a-note-about-electron

[2020-01-09 23:14] technicallyty opened #75 "Expand upon 'a note about electron'"
Currently trying to package my electron + react application. I'm unable to push through the regedit stuff as far as moving the .wsf files out of the asar packager. The docs don't really make it clear as to what we are supposed to be doing. Would it be possible to get a more concise write up on this process? Perhaps a working tutorial file?

I got it to work with :
https://github.com/ironSource/nod

[2020-01-10 15:53] methodbox commented on #75
Seems like a good opportunity for a PR ;) - but the README is how I got here, actually, from #60, since your comment links to that issue.

[2020-01-14 11:52] mohsenmahoski commented on #60
you save my life!! thank u!

[2020-01-17 08:54] AlexScheaua commented on #60
I still cant figure this out.
I created a entry in `package.json` for `extraResources`
[code]
Then i added `regedit.setExternalVBSLocation('src/regedit/vbs');` in my code.

With these or without I get the same error:
`Input Error: Can not find script file "C:\.....\dist_electron\vbs\regList.wsf".`

What am I doing wrong?

[2020-01-17 12:45] jeremysu0131 commented on #60
Looks like your file URL was wrong. It should be `${builded file location}\win-unpacked\resources\regedit\vbs\regList.wsf`

[2020-02-12 01:12] xiaoyaoseng commented on #61
I also try to fix this function but failed. Then I use node-exec to solve it..
The example is:
`var shell = require('node-exec');
function deleteValue(key, value) {
	query = 'REG DELETE "' + key + '" /v ' + value + ' /f';
	shell.run(query).then(function(res) {
		console.log('delete success');
	});
}
deleteValue(regKey, regValue);
`

[2020-02-12 09:26] xiaoyaoseng commented on #61
@JasminDreasond I hope it will help some one.

[2020-02-13 17:18] Stanzilla commented on #40
@nhz-io any news here?

[2020-04-14 10:55] Johannes0Horn opened #76 "regedit.list yields keys only"
Hey,
i was trying to get some registry eintries using:
[code]
![image](https://user-images.githubusercontent.com/22841259/79217387-18b12480-7e4f-11ea-92c0-49924ad3cce5.png)

According to the console output, it seems like regedit.list only yields the keys but not the values.
Config:
Windows 10 64Bit
Node.js v12.16.2, also tried Node 8
regedit 3.0.3

I am grateful for every idea :)

[2020-04-20 10:50] xmedeko commented on #59
I guess, it's already done.

[2020-04-20 10:59] kessler commented on #59
We're missing a few tests though... but it's forthcoming

[2020-05-06 09:29] websrookie commented on #52
目前还是存在这个问题

[2020-05-07 22:25] kessler commented on #52
@websrookie
提供例子 please :)

[2020-05-12 05:48] zshuaia opened #77 "WIN7 64BIT issue"
lookUpAccountName failed. Error 1332

[2020-07-15 19:06] han0idx opened #78 "Compressing node app to an exe"
Im trying to compress my app.js to a standalone exe , i use this simple command:
`pkg app.js`

But i keep having this error:
`Error: vbscript process reported unknown error code 1`

i tried other solution but nothing works :( anyone know how to solve this ?

[2020-07-20 19:36] coelho-faminto opened #79 "REG_FULL_RESOURCE_DESCRIPTOR support"
I will learn how to contribute to code and will perform some changes to partially support REG_FULL_RESOURCE_DESCRIPTOR as a valid REG TYPE. Current version is throwing an error in nodejs saying Type 9 is invalid and then it doesn't list any keys from the same path. Example: if you try to list HKLM\\HARDWARE\\DESCRIPTION\\System
Adding
[code]
and
[code]
is enough to show the value empty at least. A

[2020-08-14 07:06] dtboy1995 commented on #76
same issue

[2020-08-21 02:33] dtboy1995 opened #81 "regedit.list yields keys only"

[2020-09-09 12:48] ctrotsky opened #82 "putValue() causes uncatchable EOF exception when exception occurs near large binary values"
This only seems to occur when "HKCU\\TestKey"'s value is a large block of binary data that is written in the same call to putValues() where another error is raised. I haven't yet narrowed down on the exact data size where this starts occurring. This occurs when the registry value causing any kind of error comes after the large value in the input to putValue().

Sample code to cause this:
[code]

O

[2020-10-14 02:42] xieerduos commented on #62
这么写会报错
regedit.list('HKEY_CURRENT_USER\\Software\\Microsoft\\Windows\\CurrentVersion\\Run', (err, data) => {
        if (err) {
            console.log(err);
        }
        console.log('data: ', data);
    });

HKEY_CURRENT_USER简写为HKCU ， 改成下面的写法就可以了
    regedit.list('HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Run', (err, data) => {
        if (err) {
            console.log(err);

[2020-10-14 02:48] xieerduos commented on #62
"vue-cli-plugin-electron-builder": "^1.4.6",

[code]
[code]

[2020-12-24 02:45] Jambo-Git opened #84 "windows auto start program have error"
![image](https://user-images.githubusercontent.com/44568110/103054585-f9b98380-45d4-11eb-9694-eedd4b1f906a.png)
cannot read property

[2021-01-07 05:26] zhangkaixuan commented on #74
ah...  my app did this as well....  how to fix it?

[2021-01-07 13:05] nuryagdym commented on #81
+1

[2021-04-04 22:22] tymmesyde commented on #78
Same for me
Even if I run my compiled script with the `electron .` command I get this error.
It works fine on a development environment.

[2021-04-11 04:44] rendomnet commented on #60
Input Error: Can not find script file "C:\Users\***\src\vbs\regList.wsf".

[2021-04-11 04:45] rendomnet commented on #60
@jeremysu0131 Input Error: Can not find script file "C:\Users***\src\vbs\regList.wsf".
same error what is url?

[2021-04-11 05:38] rendomnet commented on #60
@jeremysu0131 `setExternalVBSLocation `is not working for me. It always searching in `src\vbs\`

[2021-04-20 08:51] hassanahmad32 opened #85 "Lists few values for the Internet Setting registry path"
Hi,

I am trying to get the windows proxy setting from the below registry path by using list method:
HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Internet Settings

list method returns only few values as below logs:
{"HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Internet Settings":{"keys":["5.0","Connections","Lockdown_Zones","ZoneMap","Zones"],"values":{"User Agent":{"type":"REG_SZ"

[2021-06-08 13:11] JSLNO commented on #69
I know it's a little late but I've create the type declarations.
https://github.com/ironSource/node-regedit/discussions/86#discussion-3401648

[2021-06-13 12:20] #61 closed

[2021-06-13 12:21] #59 closed

[2021-06-22 12:57] omiinaya commented on #76
same here

[2021-08-02 16:03] #75 closed

[2021-08-13 01:47] ChenZengui commented on #3
The same problem for me. Fixt?

[2021-08-13 02:14] ChenZengui commented on #3
nice :)using type: "REG_DEFAULT" works!

[2021-09-01 11:19] kessler commented on #85
@hassanahmad32
Sorry we're not so active here lately. Could you please attach a code example or update if this issue was resolved or not.

[2021-09-01 11:20] kessler commented on #84
@Jambo-Git did you resolve this issue? if not can you attach a working code example?

[2021-09-01 11:21] kessler commented on #82
@ctrotsky sorry for the prolonged delay. Going to take a look at this asap.

[2021-09-01 11:22] kessler commented on #81
@M1cr0M1nd can you try this please?

[2021-09-01 11:24] kessler commented on #78
@han0idx since regedit uses additional non-javascript script files, its possible the packager does not think to include them.
@tymmesyde did you read the [node about electron](https://github.com/ironSource/node-regedit#a-note-about-electron)?

[2021-09-01 21:27] M1cr0M1nd commented on #76
@Johannes0Horn @dtboy1995 @omiinaya
Are you sure you have values under 'HKCU\\SOFTWARE' & 'HKLM\\SOFTWARE'?
I have no values there and when manually adding one an running the script above everything works.

If you're talking about values not coming back as an empty object it will as of version 5.0.0

[2021-09-01 21:30] M1cr0M1nd commented on #85
`{
  'HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Internet Settings': {
    exists: true,
    keys: [
      '5.0',
      'Cache',
      'Connections',
      'Http Filters',
      'Lockdown_Zones',
      'P3P',
      'Passport',
      'Wpad',
      'ZoneMap',
      'Zones'
    ],
    values: {
      CertificateRevocation: [Object],
      DisableCachingOfSSLPages: [Object],
      IE5_UA_Back

[2021-09-01 21:41] M1cr0M1nd commented on #81
@dtboy1995 @nuryagdym
Are you sure you have values under 'HKCU\SOFTWARE' & 'HKLM\SOFTWARE'?
I have no values there and when manually adding one and running list everything works.

If you're talking about values not coming back as an empty object it will as of version 5.0.0

[2021-09-02 00:01] kessler commented on #81
I'm closing this and we'll keep track of this on #76

[2021-09-02 00:01] #81 closed

[2021-09-02 00:02] #77 closed

[2021-09-02 00:03] kessler commented on #74
did the note about electron helped?

[2021-09-02 00:03] #70 closed

[2021-09-02 00:04] kessler commented on #78
I'm closing this, please reopen if needed

[2021-09-02 00:04] #78 closed

[2021-09-02 00:18] kessler commented on #68
@M1cr0M1nd following our discussion the other day I checked and we are *not* lazily creating new paths in the registry if they are missing. Also, the underlying vbs registry api does not provide a flag or some other way to do this lazily and I don't think it make sense to implement this in our VBS layer of JS layer as default behavior of `putValue`.

We might consider have a separate function for

[2021-09-02 00:20] #68 closed

[2021-09-02 15:50] nikhell86 commented on #74
no the note in electron did not help .. We stopped using this module due to this issue

[2021-09-02 16:24] kessler commented on #74
I see.
Do you want us to debug this together or are you happy with your other solution? (in which case I will proceed to close this issue)

[2021-09-03 10:27] nikhell86 commented on #74
I am happy with my solution. If you want to debug it, it's easy to recreate, we just need a minimal electron app which runs at Windows startup. We need to try doing operations with this module in app.on('ready') event.. If you need any help I could try to find some time out to help

[2021-09-15 10:41] kessler commented on #85
closing this issue, please reopen if needed

[2021-09-15 10:41] #85 closed

[2021-09-15 10:41] kessler commented on #84
closing this issue, please reopen if needed

[2021-09-15 10:41] #84 closed

[2021-09-15 10:43] kessler commented on #82
@ctrotsky it might be a problem in the communication between node and the vb script. did you manage to deduce the problematic size?

[2021-09-15 10:44] kessler commented on #76
@Johannes0Horn  closing this issue, please reopen if needed

[2021-09-15 10:44] #76 closed

[2021-09-15 10:46] kessler commented on #74
@nikhell86 if you want to create a repo with a minimal app and a script that installs it on a windows machine to launch at startup it will be a tremendous help

[2021-09-25 13:27] NightFurySL2001 commented on #72
Is there any fix for this yet? Logging some of the paths will easily exceed the max buffer size.

[2021-11-03 15:05] danperks opened #92 "[Suggestion] Monitor a key for changes"
I've been looking for a way to monitor a key for changes and while I can do this manually by repeatedly checking the key, it would be nice if a solution was available in this library, as it would probably be more efficient than I am able to come up with!

[2021-11-04 17:02] Spown opened #93 "Invalid JSON on invalid registry values"
So I'm trying to read these values from the registry, some of which (``installTime``) appear to be invalid:
[code]

[code]
![image](https://user-images.githubusercontent.com/3817672/140380276-7c134ae3-bbb6-4095-8b46-127ae24be5d2.png)

The reason is probably because they belong to a Chinese app, encoding issues or smth... irrelevant. The point is, these values create invalid JSON:

[code]

[code]
W

[2021-11-23 07:34] YuanQingSong1990 opened #94 "Hidden the subprocess console window"
child_Process.execFile plus the windowsHide parameter, to Hidden the subprocess console window that would normally be created on Windows systems

[2021-12-12 08:57] omiinaya opened #95 "any way to send hex values instead of binary?"
I am attempting to recreate this script:
https://superuser.com/questions/949385/map-capslock-to-control-in-windows-10

My issue is that the vb script used by the put function will not take my hex numbers as a string.

I've been attempting to create an array that it will accept for hours... Any tips?

[2022-02-16 13:41] merwaaan opened #96 "Version published on NPM is missing the type definitions"
Hi @kessler
(Sorry if this is not the right place for this kind of issue)

As the title describes, the version published on NPM is older that the October commit that added types.

Would it be possible to push a new version so that we can use them?
Thanks

[2022-02-16 14:21] kessler commented on #96
yes, I'll take of this on the weekend!
my sincere apologies

[2022-02-16 14:21] #96 closed

[2022-02-16 14:44] merwaaan commented on #96
Many thanks :)

[2022-02-22 17:05] kessler commented on #96
@merwaaan will be delayed in a few days. As I'm updating the docs as well.

[2022-04-01 16:46] Isstorya opened #97 "regedit"

[2022-04-06 03:05] HwangTaehyun commented on #74
Same problem in window service. I changed my code that always use externalVBSLocation and always use setExternalVBSLocation function in dev and prod electron app

[2022-04-06 12:00] kessler commented on #74
@HwangTaehyun we will need a minimal recreation of the problem in order to help.

[2022-05-08 08:46] #97 closed

[2022-05-08 08:47] #94 closed

[2022-05-08 08:47] #74 closed

[2022-05-08 10:11] kessler commented on #95
sorry for the later reply, if you want to provide a working code example, please reopen this issue

[2022-05-08 10:11] #95 closed

[2022-05-08 10:17] kessler commented on #92
did a little research about this.
StdRegProv does not support this directly but it can be achieved using other mechanisms: https://docs.microsoft.com/en-us/previous-versions/windows/desktop/regprov/stdregprov#remarks
however, I currently don't have the resources and time to invest in this. You are welcome to submit a PR

[2022-05-08 10:17] #92 closed

[2022-05-08 10:23] kessler commented on #17
tested, not an issue anymore (don't know why though... :-( )

[2022-05-08 10:23] #17 closed

[2022-05-08 21:24] kessler commented on #40
This problem is now addressed with `listUnexpandedValues`

[2022-05-08 21:24] #40 closed

[2022-05-08 21:31] kessler opened #99 "update TS types with new feature"
@felixhao28
Per chances you can update `regedit.d.ts` with types relating to the new `listUnexpandedValues` API?

[2022-05-08 21:36] kessler commented on #93
I was unable to recreate this.
Please attach a .reg file that I can use and reopen the issue

[2022-05-08 21:49] Spown commented on #93
literally the second code sample... It may as well be the case that importing/exporting the ``.reg`` file autocorrects the value. You may need to install the [LDPlayer](https://de.ldplayer.net/other/version-history-and-release-notes.html) app in order to get the problem in question. The main issue is not this specific misformatting, but the inability of the``.wsf`` serialisier to deal with any kin

[2022-05-08 21:51] #48 closed

[2022-05-08 21:57] kessler opened #100 "need to move arch.promisified into promisified"
[code]
but then if promisified arch is needed then one has to require again:
[code]
This comes more naturally:
[code]

[2022-05-09 17:50] kessler commented on #93
I didn't realize it was in fact a reg snippet. I will try to use it. I can't, however, install any applications to test.
Also, you can try and debug this yourself if you like.
First, comment this line: https://github.com/ironSource/node-regedit/blob/master/vbs/regList.wsf#L28 using a single quote. Then try to run your program.
If that doesn't yield anything meaningful you can run the vb script dir

[2022-05-17 20:32] Displayray opened #102 "unsupported hive"
My code:
await regedit.createKey(["HKEY_LOCAL_MACHINE\\SOFTWARE\\PFM"]);
        regedit.putValue({
          "HKEY_LOCAL_MACHINE\\SOFTWARE\\PFM": {
            myname: {
              value: myvalue,
              type: "REG_SZ",
            },
          },
        });

[2022-05-20 15:55] lecepin commented on #102
+1

[2022-05-23 11:13] davidgoitia opened #103 "Missing types for stream and listUnexpandedValues"
Some Typescript definitions are missing or have errors:

- Streaming interface is missing
- listUnexpandedValues interface is missing
- Architecture constants are not exported in index.js
- REG_BINARY_Value is defined as REG_SZ
- Explicit type for default value as key '' is missing

[2022-06-15 08:28] 317764920 opened #106 "Error: vbscript process reported unknown error code 161"
what happens?
invoke regedit.createKey/deleteKey

[2022-06-15 08:36] 317764920 commented on #106
my machine is windows 11

[2022-06-22 03:52] ZeeLyn opened #107 "Command failed"
![image](https://user-images.githubusercontent.com/17895675/174939700-f60995c2-519d-476f-b5c0-8cf8eedbade5.png)
I confirm that the path of the.wsf file is correct, but I still throw an error

[2022-06-22 05:42] ZeeLyn commented on #107
Stop execution by Microsoft Defender
![image](https://user-images.githubusercontent.com/17895675/174952196-dc9e2c37-a1f7-4efd-b0fa-d8cdc1db82a6.png)

[2022-07-08 18:25] MLDMoritz commented on #102
Version 5.00 seems to work for me

[2022-07-13 20:56] iSued commented on #70
I've done this way and i just need to have my package and vbs at the same level.
Obviously you can decide to change level.

[code]

[2022-07-13 20:57] iSued commented on #78
#70 I've answered here if someone needs

[2022-07-16 07:30] eight04 opened #108 "Changelog?"
Is there a changelog in this repo? There is no version tag so it is very difficult to compare changes between different versions.

[2022-07-27 06:14] leete0701 opened #109 "regedit.putValue():error:unsupported hive"
My Code:
![image](https://user-images.githubusercontent.com/70565665/181174140-ec52d9a0-cb90-4580-a8ac-a1c98897da91.png)

Exception:
![image](https://user-images.githubusercontent.com/70565665/181174259-6068f259-0067-4b07-9f01-e3d97e6915c8.png)

Brothers, please help me.

[2022-07-29 07:12] gggscript commented on #109
At [/lib/helper.js line 14](https://github.com/ironSource/node-regedit/blob/master/lib/helper.js#L14) you need to patch the write function to
[code]
[code]

[2022-07-29 07:15] gggscript commented on #109
Or if you want to support falsy values, change the whole function to:
[code]

[2022-08-03 20:44] chakafasano88 opened #110 "Unsupported Hive"
I too am having the same issue. I am receiving the error "Unsupported Hive". The funny thing is that `putValue()` still writes to the registry and stores the value correctly.  It feels like the error is being thrown incorrectly.

[code]

[2022-08-19 00:51] filmerjarred commented on #109
reverting to 5.0.0 solved it for me :)

[2022-08-30 13:36] StrangerGithuber opened #111 "Set External VBS Location"
Hello
When I am trying to use this  `regedit.setExternalVBSLocation('resources/common/vbs')` then I get this error message:
[code]

Do I am using this wrong way?
Thanks in advance the answers.

[2022-08-30 13:41] StrangerGithuber commented on #111
Ah ok, nothing.
My mistake.
I used require('regedit').promisified instead require('regedit').

[2022-08-30 13:41] #111 closed

[2022-09-03 05:59] pash2048 commented on #110
I am getting the same error. and reverting to 5.0.0 fixed my issue too, what's the problem with the latest version?

[2022-11-06 11:02] marco987 opened #112 "Undefined childProcess.execFile"
Hello. Trying to execute:

[code]
I get the following error:

[code]
Can I get some suggestions please?

[2022-11-09 04:40] liangskyli commented on #110
v5.1.1 the same error